.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #ffdd00; /* Amarillo para destacar */
}

.navbar-logo {
  font-size: 1.5rem;
}

.cart-widget {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.cart-widget span {
  margin-left: 5px;
  font-size: 1rem;
}
